{{> head }}
{{> navbar }}

<div class="row">
     <div class="col-8">
         <h1>Capitan America</h1>
         <p>
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum alias modi quae quis, recusandae autem sint atque laudantium! Assumenda consequatur deleniti quibusdam delectus rerum velit facilis omnis tempore consequuntur accusantium.
         </p>
     </div>
    
    <div class="col-4">
        <img src="assets/img/cap-america.jpg" class="img-thumbnail"
    </div>
</div>

{{> footer }}